@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


.title1 {
  color:#000000;
  font-weight: 800;
  font-size:55px;
}
.title1-1 {
  color:#000000;
  font-weight: 500;
  font-size:55px;
}
.title2 {
  color:#000000;
  font-weight: 700;
  font-size:28px;
}

.title2-1 {
  color:#000000;
  font-weight: 500;
  font-size:40px;
}


@media screen and (min-width: 769px) {
  /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
  .gBlackBigTitle {
    color:#000000;
    font-weight: 300;
    font-size:70px;
  }
  
  .gBlackMediumTitle {
    color: #000000;
    font-weight: 300;
    font-size:52px;
  }
  
  .gWhiteMediumTitle {
    color: #FFFFFF;
    font-weight: 300;
    font-size:52px;
  }
  
  .gBlackSmallTitle {
    color: #000000;
    font-weight: 300;
    font-size:28px;
  }

  .gWhiteSmallText {
    color: #FFFFFF;
    font-weight: 300;
    font-size:28px;
  }

  .gBoldLower {
    font-weight: 800;
  }
  
  .gBoldUpper {
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .gDescBlack {
    font-size: 17px;
    color: #000000;
    line-height: 1.55;
    font-weight: 300;
  } 
  
  .gDescWhite {
    font-size: 17px;
    color: #FFFFFF;
    line-height: 1.55;
    font-weight: 300;
  } 
  
  
  .gWatchLinkBlack {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
  }
  
  .gWatchLinkWhite {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
  }
  
  .gJoinText {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
  }
  
  .gJoinTitle {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
  }
      
}



@media screen and (max-width: 768px) {
  .gBlackBigTitle {
    color:#000000;
    font-weight: 300;
    font-size:40px;
  }
  
  .gBlackMediumTitle {
    color: #000000;
    font-weight: 300;
    font-size:35px;
  }
  
  .gWhiteMediumTitle {
    color: #FFFFFF;
    font-weight: 300;
    font-size:32px;
  }
  .gBlackSmallTitle {
    color: #000000;
    font-weight: 300;
    font-size:20px;
  }
  
  .gWhiteSmallText {
    color: #FFFFFF;
    font-weight: 300;
    font-size:28px;
  }
    
  .gBoldLower {
    font-weight: 800;
  }

  .gBoldUpper {
    text-transform: uppercase;
    font-weight: 800;
  }

  .gDescBlack {
    font-size: 13px;
    color: #000000;
    line-height: 1.55;
    font-weight: 300;
  } 

  .gDescWhite {
    font-size: 13px;
    color: #FFFFFF;
    line-height: 1.55;
    font-weight: 300;
  } 

  .gWatchLinkBlack {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
  }

  .gWatchLinkWhite {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 500;
  }

  .gJoinText {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
  }

  .gJoinTitle {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
  }
}





/* end */
