// app global css in SCSS form


.gPageTitle {
  font-size: map-get($h4, "size");
  color: $grey-10;
  letter-spacing: map-get($h4, "letter-spacing");
  font-weight: map-get($text-weights, "bolder");
  line-height: map-get($h4, "line-height");
  margin: map-get($space-lg, "y") 0px map-get($space-lg, "y") 0px;
  word-break: break-all;
  word-wrap: break-word; 
}

 .gPageSubTitle {
   font-size : 16px;
   color : #000000;
   font-weight : 400;

}

.gBigName {
  color: $grey-10;
  font-size: map-get($h4, "size");
  letter-spacing: map-get($h5, "letter-spacing");
  font-weight: map-get($text-weights, "medium");
  margin: map-get($space-sm, "y") 0px map-get($space-sm, "y") 0px;
  word-break: break-all;
  word-wrap: break-word; 
}

.gBigValue {
  font-size: 22px;
  color: #000000;
  font-weight: 500;
}

.gDialogTitle {
  font-size : 16px;
  color : #000000;
  font-weight: 600;
 }
 
 .gValue {
   font-size : 14px;
   color : #000000;
   font-weight : 500;
 }
 .gValue2 {
   font-size : 15px;
   color : #000000;
   font-weight : 500;
 }

 .gText {
   font-size: 14px;
   color : #000000;
   font-weight : 400;
 }

 .gText2 {
  font-size: 15px;
  color : #000000;
  font-weight : 400;
}


.gCaption {
  color: #7D8D99;
  font-size: map-get($caption, "size");
  line-height: map-get($caption, "line-height");
  letter-spacing: map-get($caption, "letter-spacing");
  font-weight: map-get($caption, "weight");
}

.gNameText {
  font-size : 14px;
  color: rgb(116, 129, 141);
  font-weight: 400;
 
}




.gBoarder1 {
  border: 1px #bcbcbc;
  border-radius: 8px;
  background-color: #F2F4F4;  
  padding: 10px 10px 10px 10px;
}

.gBoarder1-1 {
  border: 1px #bcbcbc;
  border-radius: 8px;
  background-color: #F2F4F4;  
  padding: 15px 15px 15px 15px;
}

.gBoarder2 {
  border: 1px #bcbcbc;
  border-radius: 8px;
  background-color: white; 
  padding: 10px 10px 10px 10px;
 
}

.gBoarder3 {
  border: 1px solid rgb(206, 208, 217);
  background-color: #F2F4F4;  
  padding: 10px 10px 10px 10px;

}

.gBoarder4 {
  border: 1px solid rgb(206, 208, 217);
  border-radius: 8px;
  background-color: white;  
  padding: 10px 10px 10px 10px;

}

// 

// .gCaptionSM {
//   font-size: map-get($caption, "size");
//   line-height: map-get($caption, "line-height");
//   font-weight: map-get($caption, "weight");
//   color: $grey-6;
// }


// .gPageTitle {
//   color: $grey-10;
//   font-size: map-get($h4, "size");
//   line-height: map-get($h4, "line-height");
//   letter-spacing: map-get($h4, "letter-spacing");
//   font-weight: map-get($text-weights, "bolder");
//   color: $grey-10;
//   margin: map-get($space-lg, "y") 0px map-get($space-lg, "y") 0px;
//   word-break: break-all;
//   word-wrap: break-word;  
// }


// .gSubTitleLG {
//   font-size: map-get($h5, "size");
//   line-height: map-get($h5, "line-height");
//   letter-spacing: map-get($h5, "letter-spacing");
//   font-weight: map-get($text-weights, "bold");
//   color: $grey-10;
//   margin: map-get($space-lg, "y") 0px map-get($space-lg, "y") 0px;
//   word-break: break-all;
//   word-wrap: break-word;  
// }

// .gSubTitleMD {
//   font-size: map-get($h6, "size");
//   line-height: map-get($h6, "line-height");
//   letter-spacing: map-get($h6, "letter-spacing");
//   font-weight: map-get($h6, "weight");
//   color: $grey-10;
//   margin: map-get($space-xl, "y") 0px map-get($space-lg, "y") 0px;
// }

// .gSubTitle {
//   color : #000000;
//   font-size : 18px;
// }
// .gDialgTitle {
//   color : #000000;
//   font-size : 17px;
// }



// .gListTitle {
//   font-size: map-get($subtitle1, "size");
//   line-height: map-get($subtitle1, "line-height");
//   letter-spacing: map-get($subtitle1, "letter-spacing");
//   font-weight: map-get($text-weights, "bold");
//   color: $grey-10;
// }


// .gTextSubTitle {
//   font-size: map-get($subtitle2, "size");
//   line-height: map-get($subtitle2, "line-height");
//   letter-spacing: map-get($subtitle2, "letter-spacing");
//   font-weight: map-get($subtitle2, "weight");
//   color: $grey-10;

// }


// .gParagraphSM {
//   color: $grey-14;
//   font-size: map-get($body2, "size");
//   line-height: map-get($h1, "line-height");
//   letter-spacing: map-get($body2, "letter-spacing");
//   font-weight: map-get($body2, "weight");
//   word-break: break-all;
//   word-wrap: break-word;  
// }



// .gNoListTitle {
//   text-align:center;
//   font-size: map-get($h6,"size");
//   line-height: map-get($subtitle1,"line-height");
//   letter-spacing: map-get($subtitle1,"letter-spacing");
//   font-weight: map-get($text-weights,"bold");
//   color: $grey-10;
// }

// .gNoListMessage {
//   text-align:center;
//   font-size: map-get($body2,"size");
//   line-height: map-get($body2,"line-height");
//   letter-spacing: map-get($body2,"letter-spacing");
//   font-weight:600;
//   color: $grey-6;
// }



// .gParagraphSM {
//   color: $grey-10;
//   font-size: map-get($body2, "size");
//   line-height: map-get($body2, "line-height");
//   letter-spacing: map-get($body2, "letter-spacing");
//   font-weight: map-get($body2, "weight");
// }

// .gCaption {
//   color: $grey-6;
//   font-size: map-get($caption, "size");
//   line-height: map-get($caption, "line-height");
//   letter-spacing: map-get($caption, "letter-spacing");
//   font-weight: map-get($caption, "weight");

// }








/* end */